.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.SectionAbout {
  /* background-color: red; */
  background-image: url('../images/structure-light-led-movement-158826.jpeg');
  background-size: cover;
  height: 1000px;
}

.SectionSkills {
  background-color: red;
  background-size: cover;
  height: 1000px;
}

.SectionProjects {
  background-color: pink;
  background-size: cover;
  height: 1000px;
}

.SectionContact {
  background-color: #ff1493;
  background-size: cover;
  height: 500px;
}

.Introduction {
  padding-top: 200px;
}

#Name {
  color: white;
  font-size: 5em;
  /* text-shadow: 10px 10px 25px black; */
  text-shadow: 18px -8px 0px gray;
}

#Skills,
#Projects,
#Contact {
  color: white;
  font-size: 4em;
  text-shadow: 10px 10px 25px black;
  margin: 0;
  padding-top: 50px;
}

#Occupation {
  color: white;
  font-size: 3em;
}
.Row {
  display: flex;
}
img {
  height: 160px;
  width: 120px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
